:root {
  --background-color: #ffffff;
  --accent-color: #2196f3;
  --dark-background: #2f303a;
  --tone-color: #f5f4fa;
  --text-color: #212121;
  --dark-text: #757575;
  --hover-button: #188ce8;
  --border-header-color: #ececec;
}

p,
h1,
h2,
h3 {
  margin: 0 auto;
}
ul {
  margin: 0 auto;
  padding-left: 0;
}

body {
  background-color: var(--backgroud-color);
  color: var(--text-color);
  font-family: "Roboto", Verdana, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 1px solid red;
}
img {
  display: block;
}

/*-------------Site nav--------------------*/

.header {
  background-color: var(--background-color);
  align-items: center;
  border-bottom: 1px solid var(--border-header-color);
}
.hat {
  display: flex;
}
.site-nav {
  display: flex;
}
.contact {
  display: flex;
  margin-left: auto;
}
.nav-list {
  display: flex;
}
.header .logo {
  display: block;
  padding: 24px 0 25px 0;
  margin-right: 93px;
}
.logo {
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.web {
  color: var(--accent-color);
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.contact .item + .item {
  margin-left: 50px;
}

.nav-link {
  display: block;
  color: var(--text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-contact {
  display: block;
  color: var(--dark-text);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;
}
.nav-link:hover,
.header-contact:hover {
  color: var(--accent-color);
}
.nav-link:focus,
.header-contact:focus {
  color: var(--accent-color);
}
.site-nav .nav-link.current {
  color: var(--accent-color);
}

/*--------------------section_1----------------------*/
.hero {
  background-color: var(--dark-background);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  letter-spacing: 0.06em;
}
.hero-title {
  color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 696px;
}
.hero-button {
  color: var(--background-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  height: 50px;
  padding: 10px 32px;
  min-width: 200px;
  border: none;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--hover-button);
}

/*----------------------section_2----------------------*/
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container .features-list {
  display: flex;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-paragraph {
  color: var(--dark-text);
  line-height: 1.71;
}

/*-------------------------section_3-----------------------*/
.employment {
  padding-bottom: 94px;
}
.employment-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  width: 376px;
}
.employment-list {
  display: flex;
}
.about-item + .about-item {
  margin-left: 30px;
}
/*---------------------------section_4----------------------*/
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--tone-color);
}
.team-list {
  background-color: var(--background-color);
  display: flex;
}
.team-item + .team-item {
  margin-left: 30px;
}
.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  width: 264px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}
.team-paragraph {
  color: var(--dark-text);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-img {
  margin-bottom: 30px;
}
.team-container {
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/*---------------------------portfolio---------------------*/
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-title {
  color: var(--background-color);
}
.button-item {
  background-color: var(--tone-color);
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
}
.portfolio-list:not(:last-child) {
  margin-right: 8px;
}
.button-item:hover,
.button-item:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
}
.button-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.gallery-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
}

.gallery-paragraph {
  color: var(--dark-text);
  font-size: 16px;
  line-height: 1.87;
}
.gallery-img {
  margin-bottom: 20px;
}

/*---------------footer--------------*/
.footer {
  background-color: var(--dark-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  display: block;
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-bottom: 20px;
}
.footer-studio {
  color: var(--background-color);
}
.footer-contacts {
  font-style: normal;
  line-height: 1.71;
}
.adress {
  color: var(--background-color);
  margin-bottom: 9px;
}
.mail,
.tel {
  color: rgba(255, 255, 255, 0.6);
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}
.mail {
  margin-bottom: 20px;
}
